﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>Ingrese los Nombres de los Jugadores</h1>
<br />

<form action="/Home/Jugar" method="post">

    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Jugador 1:</label>
        <div class="col-sm-10">
            <input name="Jugadores[0]" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Jugador 2:</label>
        <div class="col-sm-10">
            <input name="Jugadores[1]" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Jugador 3:</label>
        <div class="col-sm-10">
            <input name="Jugadores[2]" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Jugador 4:</label>
        <div class="col-sm-10">
            <input name="Jugadores[3]" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Jugador 5:</label>
        <div class="col-sm-10">
            <input name="Jugadores[4]" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12 text-lg-right">
            <button class="btn btn-primary">Simular</button>
        </div>
    </div>
</form>
